<%- include("./defaults/head") %>
<title>Dashboard CCNerd</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
    <div class="dashboard_container">
        <img src="/img/balls.svg" class="balls" alt="">
        <header class="dashboard">

            <div class="logo_dash">
                <a href="/"><img src="/img/logo.png" alt="" srcset=""></a>
                <h1>Dashboard</h1>
            </div>

            <div class="bar">
                <p style="width: 80%;">Português</p>
            </div>
    
            <div class="bar">
                <p style="width: 50%;">Matemática</p>
            </div>
    
            <div class="bar">
                <p style="width: 40%;">Química</p>
            </div>
            <div class="bar">
                <p style="width: 65%;">Física</p>
            </div>
            <div class="bar">
                <p>História</p>
            </div>
            <div class="bar">
                <p style="width: 25%;">Geografica</p>
            </div>
            <div class="bar">
                <p style="width: 60%;">Inglês</p>
            </div>
            <div class="bar">
                <p style="width: 80%;">Ética Comportamento</p>
            </div>
    

            <div class="bar">
                <p style="width: 50%;">Cultura</p>
            </div>

            <div class="bar">
                <p style="width: 90%;">Esporte</p>
            </div>


            <button><a href="#" class="btn_full_orange">Start</a></button>

            <button class="sair"><a href="/">Sair</a></button>
        </header>
    
        <main class="graficos">
            <div class="header__graficos">
                <h2>Gráfico de desempenho</h2>


                <div class="avatar">
                    <img src="/img/avatar.png" alt="" srcset="">
                </div>
            </div>


            <div class="grafico1">
                <div>
                    <div class="barra_div">
                        <p>Português nível 1</p>
    
                        <div>
                            <div class="color"></div>
                        </div>
                    </div>
    
    
                    <div class="barra_div">
                        <p>Matemática nível 1</p>
    
                        <div>
                            <div class="color" style="width: 30%;"></div>
                        </div>
                    </div>
    
    
                    <div class="barra_div">
                        <p>Química nível 1</p>
    
                        <div>
                            <div class="color" style="width: 80%;"></div>
                        </div>
                    </div>
                </div>

                <div class="graficos2">
                    <div>
                        <p>Português N1</p>
                        <div class="snipper">
                            60%
                        </div>
                    </div>


                   <div>
                       <p>Matemática N1</p>
                        <div class="snipper" style="border-top-color: rgba(123, 36, 136, 0.6);">
                            30%
                        </div>
                   </div>

                   
                <div>
                    <p>Quimica N1</p>
                     <div class="snipper" style="border-bottom-color: #E6A501;">
                         80%
                     </div>
                </div>

                </div>
            </div>


            <div class="graficos_statics">
                <div>
                    <img src="/img/barra.svg" alt="">
                    <div>
                        <img src="/img/progress_bar.svg" alt="">
                        <div class="flex">
                            <p>João Pedro</p>
                            <p>200/1000</p>
                        </div>
                    </div>
                </div>

                <div class="card_rank">
                    <div class="pessoa flex">
                       <div>
                            <p>1</p>
                            <img src="https://blog.unyleya.edu.br/wp-content/uploads/2017/12/saiba-como-a-educacao-ajuda-voce-a-ser-uma-pessoa-melhor.jpeg">
                            <p>Raquel Marques</p>
                       </div>

                       <p>3000 pontos</p>
                    </div>


                    <div class="pessoa flex">
                        <div>
                             <p>2</p>
                             <img src="https://dtpr0iglcwflm.cloudfront.net/profissoes/wp-content/uploads/2019/07/iStock-969233490-555x369.jpg">
                             <p>Bruna Leandra</p>
                        </div>
 
                        <p>2500 pontos</p>
                     </div>


                     <div class="pessoa flex">
                        <div>
                             <p>3</p>
                             <img src="https://lh3.googleusercontent.com/proxy/E9pyHBVzrt8xMcWNKGirME9KXmUaQM4OvgeCOfdmTcU3Mmo47cgEMNudm_UTPL-hyMfKQi-kG8yRk3cVuYhHiJnTG6Sktl_tp_uDGd2AiKTheapsAUBdEp8k">
                             <p>Pedro Rodrigo</p>
                        </div>
 
                        <p>2000 pontos</p>
                     </div>


                     <div class="pessoa flex">
                        <div>
                             <p>4</p>
                             <img src="https://midia.gruposinos.com.br/_midias/jpg/2020/09/13/109111895_3090856101031799_4030351057692319437_n-19180842.jpg">
                             <p>Renato Cintra</p>
                        </div>
 
                        <p>1920 pontos</p>
                     </div>


                     <div class="pessoa flex">
                        <div>
                             <p>5</p>
                             <img src="https://dtpr0iglcwflm.cloudfront.net/profissoes/wp-content/uploads/2019/08/7-passos-para-fazer-curriculo-de-jovem-aprendiz-scaled-1600x900.jpg">
                             <p>Bruno Santos</p>
                        </div>
 
                        <p>1910 pontos</p>
                     </div>


                     <div class="pessoa flex">
                        <div>
                             <p>6</p>
                             <img src="https://homensquesecuidam.com/wp-content/uploads/2019/01/moda-para-jovens-b.jpg">
                             <p>Celso Caun</p>
                        </div>
 
                        <p>1800 pontos</p>
                     </div>
                </div>
            </div>
            
        </main>
    </div>
    <script>
        const balls = document.querySelector(".balls")

        balls.addEventListener("click", () =>{
            document.querySelector(".dashboard").classList.toggle("hide")
        })
    </script>
</body>
</html>