<%- include("./defaults/head") %>
<title>CC nerd</title>
</head>
<body>
    <div class="home_page">
      <header>
        <div class="nav__container">
          <img src="/img/moeda_points.png" alt="">


          <div class="links flex">
            <img src="/img/estrela_points.png" alt="" srcset="">
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook-f"></i></a>
          </div>
        </div>
      </header>

      
      <section class="section_home">
        <div>
          <h1>A sua melhor plataforma gameficada de estudo</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure alias inventore rem in accusantium voluptate.</p>
        
          <div class="buttons__home">
            <button><a href="/login" class="btn_full_orange">Já tenho Conta</a></button>
            <button><a href="/cadastro" class="btn_border_orange">Não tenho conta</a></button>
          </div>
          <img  class="boy_home" src="/img/boy_home.png" alt="" srcset="">
        </div>

      </section>
    </div>
</body>
</html>