<%- include("./defaults/head") %>
<title>CCNerd | Simulado explicação</title>
</head>
<body>
    <a href="/simulado_question"><img src="/img/arrow-left.svg" class="arrow" alt="" srcset=""></a>

    <div class="simulado_explicacao">
        <header>
            <nav>
                <a href="/">
                    <img src="/img/logo.png">
                </a>
            </nav>
        </header>
    
        <main>
            <div>
                <h1>Confira o Tutorial no video, acompanhe as dicas, fique atento ao termino do vídeo inicie o jogo.</h1>
                <button><a class="btn_full_orange" href="/simulado">Iniciar simulado</a></button>
            </div>
    
            <video width="320" height="240" poster="https://blog.coursify.me/wp-content/uploads/2019/04/questionarios-online-criar.jpg" controls>
                <source src="movie.mp4" type="video/mp4">
              </video>
        </main>
    </div>
</body>
</html>