<%- include("./defaults/head") %>
<title>CCNerd</title>
</head>
<body>
    <img src="./img/curva.png" class="curva" alt="">
    <div class="simulado_question">
        <header>
            <nav>
                <a href="/">                
                    <img src="/img/logo.png" alt="" srcset="">
                </a>
                <img src="/img/moeda_points.png" alt="" srcset="">
            </nav>
        </header>



        <main>
            <h1>Clique em simulado e ganhe 20 pontos</h1>

            <div class="btns">
                <button><a href="/simulado_explicacao" class="btn_full_orange">Fazer simulado</a></button>
                <button><a href="/dashboard" class="btn_full_orange bk-none">Painel</a></button>
            </div>
            
        </main>

        <img class="menina" src="/img/menina_no_pc.png" alt="" srcset="">
    </div>
</body>
</html>